:root{
    --black: #000000;
    --contrast: #4B4B4B;
    --yellow : #EAC100;
    --white : #FAFAFA,;
    --bbblue : #61DBFB;
    --green : #42B883;
    --purple : #787CB5;
    --red : #BC0B15;
    --grey : #D9D9D9;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    display: flex;
    flex-direction: row;
    font-family: "Inter";
    margin: 0;
}

.mainlewy{
    display: flex;
    flex-direction: column;
    width: 75%;
}
.futurit{
    background-color: #D9D9D9;
    height: 120px;
    display: flex;
    justify-content: space-between;
}
.zdjecief{
    margin-left: 50px;
    height: 115px;
    width: 312px;
}

.linki{
    background-color: #4B4B4B;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
    color: #000000;
    background-color: #D9D9D9
}
a:hover{
    background-color: #EAC100;
    transition: 0.2s;
}
.sg{
    background-color: #EAC100;
    margin-left: 40px;
    width: 150px;
    height: 35px;
    text-decoration: none;
    color: #000000;
    text-align: center;
    font-size: 90%;
}
.kr{
    text-decoration: none;
    color: #000000;
    margin-left: 20px;
    width: 150px;
    height: 35px;
    text-align: center;
    font-size: 90%;
}
.np{
    text-decoration: none;
    margin-left: 20px;
    color: #000000; 
    width: 150px;
    height: 35px;
    text-align: center;
    font-size: 90%;
}
.tło{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-weight: 800;
    text-align: center;
    height: 200px;
    width: 100%;
    background-image: url(498784722-05907420-fb08-4f53-9bf5-b3602198a61e.png);
}
.napisek{
    
    margin: 0;
}
.plan{
    font-size: 200%;
    text-align: center;
    width: 300px;
}
.rodzic{
    width: 650px;
    height: 550px;
}
table{
    width: 100%;
    height: 63%;
}
.szary{
    background-color: #D9D9D9;
    width: 45%;
    text-align: center;
}
.zolty{
    background-color: #EAC100;
    width: 45%;
    text-align: center;
}
.stopka{
    background-color: #D9D9D9;
    height: 79px;
    margin-top: 30px;
    width: 650px;
    display: flex;
    flex-direction: row;
}
.zdj{
    width: 20px;
    height: 20px;
}
.rodz{
    display: flex;
    flex-direction: column;
}
.mapa{
    height: 79px;
    margin-left: 123px;
}
button{
    width: 230px;
    height: 50px;
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: #EAC100;
    margin-left: 150px;
    font-size: 110%;
    justify-content: center;
    font-weight: 700;
    border-radius: 5px;
}
main{
    display: flex;
    flex-direction: row;
}
.formularz{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 170%;
    font-weight: 700;
}
form{
    background-color: #D9D9D9;
    width: 46%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-self: end;
    margin-left: 30px;
}
.send{
    width: 50px;
    height: 50px;
}
.bigrodzic{
    display: flex;
    flex-direction: row;
}
.imie{
    margin-top: 20px;
    width: 640px;
    height: 50px;
    border-radius: 10px;
    border: none;
}
.numer{
    margin-top: 20px;
    width: 510px;
    height: 50px;
    border-radius: 10px;
    font-size: 110%;
    border: none;
}
.wiado{
    margin-top: 20px;
    width: 640px;
    height: 230px;
    border-radius: 10px;
    border: none;
}
.la{
    font-size: 120%;
    font-weight: 600;
    margin-top: 10px;
}
.programowanie{
    background-color: #D9D9D9;
    height: 50px;
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 200%;
}
.git{
    display: flex;
    flex-direction: row;
    align-items: center;
}
hr{
    width: 400px;
    border: 2px solid #000000;
    margin: 0;
}
.prog{
    margin: 0;
}
aside{
    background-color: #D9D9D9;
    width: 500px;
}
.mainprawy{
    display: flex;
    flex-direction: column;
}

.kurs{
    display: flex;
    background-color: var(--grey);
    justify-self: flex-end;
    font-size: 20px;
    width: 100%;
    height: 120px;
    text-align: center;
}

.programowanie{
    background-color: #D9D9D9;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 200%;
}

.prawo{
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
    height: 785px;
}
.podprawo{
    display: flex;
    height: 735px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: end;
}
.react{
    display: flex;
    background-color: var(--bbblue);
    box-shadow: 0 3px #3f8597;
    color: #FAFAFA;
    justify-content: space-between;
    transition: 0.078s;
    width: 250px;
    height: 120px;
    font-weight: 700;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.react:hover{
    width: 350px;
    transition: 0.078s;
}

.textR{
    font-size: x-large;
    text-shadow: -2px 0px #3f8597,0px 2px #3f8597,0px -2px #3f8597, 2px 0px #3f8597;
}

.vue{
    display: flex;
    background-color: var(--green);
    box-shadow: 0 3px #276d4e;
    color: #FAFAFA;
    justify-content: space-between;
    transition: 0.078s;
    width: 250px;
    height: 120px;
    font-weight: 700;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.vue:hover{
    width: 350px;
    transition: 0.078s;
}

.textV{
    font-size: x-large;
    text-shadow: -2px 0px #276d4e,0px 2px #276d4e,0px -2px #276d4e, 2px 0px #276d4e;
}

.php{
    display: flex;
    background-color: var(--purple);
    box-shadow: 0 3px #444668;
    color: #FAFAFA;
    justify-content: space-between;
    transition: 0.078s;
    width: 250px;
    height: 120px;
    font-weight: 700;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.php:hover{
    width: 350px;
    transition: 0.078s;
}

.textP{
    font-size: x-large;
    text-shadow: -2px 0px #444668,0px 2px #444668,0px -2px #444668, 2px 0px #444668;
}

.java{
    display: flex;
    background-color: var(--red);
    box-shadow: 0 3px #630c10;
    color: #FAFAFA;
    justify-content: space-between;
    transition: 0.078s;
    width: 250px;
    height: 120px;
    font-weight: 900;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.java:hover{
    width: 350px;
    transition: 0.078s;
}

.textJ{
    font-size: x-large;
    text-shadow: -2px 0px #630c10,0px 2px #630c10,0px -2px #630c10, 2px 0px #630c10;
}

.czas{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.github{
    display: flex;
    flex-direction: column;
    background-color: var(--contrast);
    align-items: center;
}

/* Drugi HTML */

.srodek{
    background-color: var(--grey);
    width: 1050px;
    height: 500px;
    margin-left: 200px;
    margin-top: 30px;
    margin-right: 220px;
    display: flex;
    flex-direction: row;
}
.kalkulator{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.rata{
    background-color: var(--contrast);
    width: 300px;
    height: 350px;
    border-radius: 5px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #FFFFFF;
    font-size: 130%;
}
.check{
    border-radius: 30px;
    width: 20px;
    height: 20px;
}
.miasta{
    background-color: var(--contrast);
    width: 250px;
    height: 50px;
    color: white;
    border-radius: 5px;
    margin-left: 20px;
    font-weight: 700;
}
.miasto{
    margin-top: 40px;
    width: 300px;
    height: 400px;
}

.liczrat{
    margin-top: 40px;
}

.eszy{
    background-color: rgba(255, 255, 255, 0.815);
    width: 300px;
    height: 50px;
    border-radius: 10px;
}
#essa{
    background-color: rgba(255, 255, 255, 0.815);
    width: 250px;
    height: 40px;
}
table{
    height: 30%;
}

/* Trzeci HTML */

.Partner{
    display: flex;
    background-color: #3f8597;
    width: 1471px;
    height: 585px;
}
.midlane{
    display: flex;
    background-color: #61DBFB;
    flex-direction: row;
    justify-content: space-evenly;
}
.Oracle{
    display: flex;
    flex-direction: column;
}
.MORE{
    display: flex;
    background-color: var(--contrast);
    justify-content: space-between;
}
